html, body{
    background: url('./background.jpg');
    color: white;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;

}

@media (orientation: landscape){
    .navbar{
        height: 50px;
        width: 100vw;
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }

    #gamegrid{
        position: relative;
        left: 30%;
        height: 80vh;
        width: 35vw;
    }

    #playbox{
        display: flex;
        flex-flow: row;
        align-items:center;
        align-content: center;
        justify-content: space-around;
    }
}

@media (orientation: portrait){
    .navbar{
        height: 150px;
        width: 100vw;
        
        display: flex;
        flex: 1;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }

    #gamegrid{
        position: relative;
        height: 55vh;
        width: -4%;
        width: 5vw;
    }

    #playbox{
        display: flex;
        flex-flow: column;
        align-items:center;
        align-content: center;
        justify-content: space-around;
    }
}

.navbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    padding: auto;
    z-index: 4;
    background-color: black;
    font-family: monospace;
    font-size: 35px;
}

.navbar div a{
    color: white;
    text-decoration: none;
    transition: all 0.6 ease-out;
}


.navbar div a:hover {
    text-decoration: underline;
  }
  
.navbar div a:active {
    text-decoration: underline;
}


#gamegrid{

    width: min-content;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin: 10px;
    padding: 10px;
    justify-content: center;
}

.tile{
    border: .4rem solid black;
    border-radius: .5rem;
    width: 5rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 0.8s ease;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.5);
    font-size: x-large;
}

.boxclick {
    background: white;
    transform: scale(1.1);
    color: black;
}

.boxhover{
    background: gray;
}

#playbox{
    width:auto;
    height: 120px;
    padding: 10px;
    margin: 10px;
}

#play,#scrbut,.lead , #hacker , #time{
    text-align: center;
    font-size: x-large;
    justify-content: center;
    border: .4rem solid black;
    border-radius: .5rem;
    text-shadow: 0 0 .5rem black;
    height: 45px;
    width: 130px;
    color: white;
    background: rgba(0,0,0,0.5);
    transition: all 0.75s ease;  
}


.playhover{
    transform: scale(1.2);
    background: whitesmoke;
    color: black;
    
}


#nextbox{
    position: absolute;
    left: 42%;
    top: 50%;
    background: rgba(245, 245, 245, 0.731);
    border: .4rem solid black;
    text-shadow: 0 0 .5rem black;
    color: #0f0f0f;
    font-size: x-large;
    box-shadow: 2px #0f0f0f;
    height: 20vh;
    width: 15vw;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#standings{
    display: flex;
    flex-flow: column wrap;
    align-items:center;
    align-content: center;
    justify-content: center;
}

.none{
    display: none;
}

#rules{
    width: 100vw;
}
#rules ol{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: x-large;
    margin: 10px;
    padding: 10px;

}

li{
    padding: 5px;
    margin: 5px;
}

